.section-specialty {
  // margin-bottom: 100px;
  //   background-color: #edfffa;
  background-color: #ffffff;

  padding-bottom: 40px;

  .section-content {
    margin: 0 100px;

    .section-header {
      //   border: 1px solid red;
      position: relative;
      display: flex;
      align-items: center;
      padding: 40px 0px 30px 0px;
      span {
        font-size: 27px;
        font-weight: 600;
      }
      button {
        position: absolute;
        right: 0;
        border: none;
        border-radius: 8px;
        padding: 8px 13px;
        font-size: 18px;
        font-weight: 600;
        color: #27b0c3;
        background-color: #a5f9ff;
      }
    }
  }
  .img-customize {
    // height: 300px;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    // margin-right: 10px !important;
    text-align: center;
    // border: 1px solid red;
    // border-radius: 20px;
    // background-color: white;
    // border: 1px solid red;

    .item-customize {
      cursor: pointer;

      padding: 20px;
      border-radius: 20px;
      background-color: white;
      border: 1px solid rgb(230, 230, 230);
      transition: 0.3s;
      img {
        margin-bottom: 15px !important;
        border-radius: 10px;
        // border: 1px solid rgb(227, 227, 227);
        transition: transform 0.5s ease;
      }
      img:hover {
        transform: scale(0.9);
      }
      h3 {
        margin: 0px;
        font-size: 20px;
      }
      h3:hover {
        // color: #27b0c3;
      }
    }

    .item-customize:hover {
      border: 1px solid rgb(130, 238, 248);
      color: #27b0c3;
    }
  }
}

// .slick-initialized {
//   position: absolut !important;
// }
.slick-prev {
  border: none;
  left: 0 !important;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: #49bce2;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.slick-next {
  position: relative;
  left: 100 !important;
  border: none;
  padding: 8px 30px;
  border-radius: 5px;
  background-color: #49bce2;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
