.success-message {
  text-align: center;
  width: 100%;
  p {
    margin-top: 40px;
    font-size: 23px;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    // margin: 0;
    background-color: #00b609;
    color: white;
  }
}

.error-message {
  text-align: center;
  width: 100%;
  p {
    margin-top: 40px;
    font-size: 23px;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    // margin: 0;
    background-color: rgb(143, 10, 0);
    color: white;
  }
}

.loader {
  margin-top: 40px;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  animation: l2 1s infinite linear;
}
@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
.display {
  display: none;
}
