.container-detail-doctor {
  //   border: 1px solid red;

  .bg-schedule {
    // border: 1px solid red;
    width: 70%;
    height: auto;
    margin: 0 auto;
    // padding: 20px;
    display: flex;
    justify-content: space-between;
    // align-items: center;

    .br {
      background-color: #ececec;
      width: 2px;
      height: 120px;
    }

    .content-right {
      width: 40%;
      // border: 1px solid rgb(9, 9, 9);
    }

    .bg-br {
      width: 3%;
    }

    .content-left {
      width: 50%;
      // border: 1px solid rgb(60, 255, 0);
    }
  }

  .bg-content-detail {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 40px 0px;
    width: 70%;
    margin: auto;

    .avt-detail {
      height: 150px;
      width: 150px;
      // border: 1px solid gray;
      border-radius: 100px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 100px;
      }
    }

    .text-detail {
      width: 60%;
      margin-left: 30px;

      .textName-detail {
        font-size: 25px;
        font-weight: 600;
      }

      span {
        font-size: 18px;
        color: gray;
      }
    }
  }

  .container-detail-content {
    padding: 40px 300px;
    background-color: #f9f9f9;
    border: 1px solid #dadada;

    .textName-detail-content {
      //   margin-top: 50px;
      //   font-size: 10px;
      img {
        // height: 100%;
        width: 100%;
      }
    }
  }
}
