.bg-content-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  width: 100%;
  margin: auto;

  .avt-detail {
    height: 70px;
    width: 70px;
    // border: 1px solid gray;
    border-radius: 100px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 100px;
    }
  }

  .text-detail {
    width: 50%;
    margin-left: 20px;

    .textName-detail {
      font-size: 20px;
      font-weight: 600;
    }

    span {
      font-size: 18px;
      color: gray;
    }
  }
}

.price-modal {
  // margin: 10px 20px 0px 20px;
  display: flex;
  align-items: center;

  .price {
    font-weight: 500;
    color: #d01a1d;
    margin-left: 5px;
  }

  .time {
    //   color: black;
  }
}
