.container-booking {
  .title {
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    color: rgb(125, 106, 0);
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

.content-left {
  display: flex;
  flex-direction: column;
  margin: 0px 100px;
  label {
  }
  input {
    height: 40px;
    margin-top: 10px !important;
    width: 250px !important;
    padding: 5px !important;
  }
}

.users-containers {
  display: flex;
  justify-content: center;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#customers th {
  text-align: center !important;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.users-tables {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 90%;
  // padding: 30px 30px;
  // margin-right: 100px;
}

.buttons {
  // width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.users-containers button.btn-edit {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  // margin-right: 15px;
  // margin-left: 2px;
  background-color: #e1ab08;
  color: white;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
  margin: 0px;
}
.users-containers button.btn-edit:hover {
  background-color: #0ba3c1;
}

.editor {
  padding: 0px 100px;
  margin-bottom: 50px;
}
